{% extends "layout.html" %}

{% block title %}
    Check Out Report
{% endblock %}

{% block main %}

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Vehicle</th>
        <th scope="col">Discount</th>
        <th scope="col">Location</th>
        <th scope="col">CheckIn</th>
        <th scope="col">CheckOut</th>
        <th scope="col">Is Paid</th>
        <th scope="col">Amount</th>


      </tr>
    </thead>
    <tbody>
        {% for c in checkOutQuery %}
        <tr>
        <td>{{loop.index}}</td>
        <td>{{c.type}}</td>
        <td>{{c.brand}}  {{c.number}}</td>
        <td>{{c.customer}} - {{c.percentage | string}}%</td>
        <td>{{"Transit"}}</td> 
        <td>{{c.creationTime}}</td>
        <td>{{c.createdOn}}</td>
        <td> {% if c.isPaid == 1 %}
          &#10004; <!-- Tick mark -->
      {% else %}
          &#10008; <!-- Cross mark -->
      {% endif %}</td>
        <td>{{c.amount}}</td>

        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}