{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}


{% block main %}

<!--CheckIn Modal -->
<div class="modal fade" id="checkInModal" tabindex="-1" aria-labelledby="checkInModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkInModalLabel">Add Check In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="border-top  border-3 border-primary text-sm-start" id="checkIn-form" data-api-route="/checkIn" data-target-url="/">
        <div class="modal-body">

          <div class="mb-3">
            <label for="type" class="form-label">Type</label>

            <select id="type" name="type" class="form-select" aria-label="Default select example" required>

            </select>
            <div class="invalid-feedback">Please select a valid option.</div>

          </div>
          <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <select id="brand" name="brand" class="form-select" aria-label="Default select example" required>

            </select>
          </div>
          <div class="mb-3">
            <label for="number" class="form-label">Number</label>
            <input autocomplete="off" autofocus class="form-control" id="number" name="number" placeholder="Number"
              type="text">
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <select id="location" name="location" class="form-select" aria-label="Default select example" required>

            </select>
          </div>

          <div class="mb-3">
            <label for="discount" class="form-label">Discount</label>
            <select id="discount" name="discount" class="form-select" aria-label="Default select example" required>

            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="btnSubmit" type="submit" class="btn btn-primary btnSubmit">Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!--move Modal -->
<div class="modal fade" id="moveModal" tabindex="-1" aria-labelledby="moveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title bg-success modal-title p-2 text-bg-primary" id="moveModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="move-form" class="border-top  border-3 border-success text-sm-start" data-api-route="/move" data-target-url="/">
        <div class="modal-body">
          <input type="hidden" name="moveHiddenCheckInId" id="moveHiddenCheckInId">
           <input type="hidden"  name="moveHiddenCurrentLocation" id="moveHiddenCurrentLocation">

          <div class="mb-3">
            <label for="type" class="form-label">Current Location</label><br>
            <input class="form-control" type="text" disabled name="moveCurrentLocation" id="moveCurrentLocation">
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Target Location</label>
            <select id="movelocation" name="movelocation" class="form-select" aria-label="Default select example" required>

            </select>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="btnSubmit" type="submit" class="btn btn-primary btnSubmit">Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!--checkOut Modal -->
<div class="modal fade" id="checkOutModal" tabindex="-1" aria-labelledby="checkOutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkOutModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="checkOut-form" class="border-top border-3 border-danger text-sm-start" data-api-route="/checkOut" data-target-url="/">
        <div class="modal-body">

          <div class="mb-3">
            <input type="hidden" name="checkInId" id="checkInId">
            <input type="hidden" id="cLocation" name="cLocation">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="pay" id="Paid" value="1" checked>
              <label class="form-check-label" for="Paid">Paid</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="pay" id="UnPaid" value="0">
              <label class="form-check-label" for="UnPaid">Unpaid</label>
            </div>
          </div>
          <div class="mb-3 mt-3">
            <label for="location" class="form-label">Current Location</label><br>
             <input class="form-control" type="text" name="locationDisplay" id="locationDisplay" disabled >
          


          </div>

          <div class="mb-3">
            <label for="amount" class="form-label">Paid Amount</label>
            <input autocomplete="off" autofocus class="form-control" id="amount" name="amount" placeholder="Amount"
              type="text">

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="btnSubmit" type="submit" class="btn btn-primary btnSubmit">Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-12 d-flex justify-content-end mb-3">
    <!-- Button trigger modal --> 
    <button type="button" class="btn btn-outline-primary" id="btnCheckIn" data-api-route="/checkInDatas">
      Check In
    </button>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Vehicle</th>
      <th scope="col">Location</th>
      <th scope="col">Arrived On</th>
      <th scope="col">Hour</th>
      <th scope="col">Rate</th>
      <th scope="col">Discount</th>
      <th scope="col">Fee</th>
      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>


    {% for s in summaryQuery %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{s.type}}</td>
      <td>{{s.brand}} {{s.number}}</td>
      <td>{{s.location}}</td>
      <td>{{s.creationTime}}</td>
      <td>{{s.hour}}</td>
      <td>${{s.rate}}</td>
      <td>{{s.percentage | string}}%</td>
      <td>${{s.fee}}</td>
      <td>
        <button id="btnMove" data-api-route="/checkInDatas" type="button" class="btn btn-outline-success btn-sm btnMove" data-id="{{s.id}}"
          data-location={{s.location}}  data-vehicle="{{s.brand}}-{{s.number}}" >Move</button>
        <button id="btnCheckOut" type="button" class="btn btn-outline-danger btn-sm btnCheckOut" data-id="{{s.id}}"
          data-vehicle="{{s.brand}}-{{s.number}}"  data-location = "{{s.location}}" data-fee="{{s.fee}}">Check Out</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}